<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style_addevent.css">
    <title>Добавление мероприятия</title>
</head>
<body>
<h1>Добавление мероприятия</h1>
    <form action="/person_account_teacher" method="post" class="menu-form">
        <button type="submit" name="option" value="home">Главная</button>
        <button type="submit" name="option" value="view_all_events">Просмотреть все мероприятия</button>
        <button type="submit" name="option" value="add_event">Добавить мероприятие</button>
        <button type="submit" name="option" value="settings">Настройки</button>
    </form>
    <form action="/add_event" method="post" class="add_event">
        <label for="title">Введите название мероприятия:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="description">Введите описание мероприятия:</label>
        <input type="text" id="description" name="description" required><br><br>

        <label for="event_date">Введите дату мероприятия:</label>
        <input type="date" id="event_date" name="event_date" required><br><br>

        <label for="type">Выберите тип мероприятия:</label>
        <select id="type" name="type" required>
            <option value="Учебное мероприятие">Учебное мероприятие</option>
            <option value="Воспитательное мероприятие">Воспитательное мероприятие</option>
            <option value="Спортивное мероприятие">Спортивное мероприятие</option>
            <option value="Карьерное мероприятие">Карьерное мероприятие</option>
            <option value="Культурное мероприятие">Культурное мероприятие</option>
        </select><br><br>

        <button type="submit" name="addevent" value="addevent">Добавить мероприятие</button>
    </form>
</body>
</html>
