<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style_addachievements.css">
    <title>Добавление достижения</title>
</head>
<body>
<h1>Добавление достижения</h1>
    <form action="/add_achievements" method="post" class="menu-form">
        <button type="submit" name="option" value="home">Главная</button>
        <button type="submit" name="option" value="view_your_achievements">Просмотреть свои достижения</button>
        <button type="submit" name="option" value="add_achievements">Добавить достижение</button>
        <button type="submit" name="option" value="settings">Настройки</button>
    </form>
    <form action="/add_achievements" method="post" class="add_achievements">
        <label for="nameEvent">Введите название мероприятия:</label>
        <input type="text" id="nameEvent" name="nameEvent" required><br><br>

        <label for="category">Выберите категорию достижения:</label>
        <select id="category" name="category" required>
            <option value="Академическое достижение">Академическое достижение</option>
            <option value="Творческое достижение">Творческое достижение</option>
            <option value="Спортивное достижение">Спортивное достижение</option>
            <option value="Общественное достижение">Общественное достижение</option>
        </select><br><br>

        <label for="result_achievement">Введите результат достижения:</label>
        <input type="text" id="result_achievement" name="result_achievement" required><br><br>

        <label for="document_url">Введите url документа подтверждающее достижение:</label>
        <input type="text" id="document_url" name="document_url" required><br><br>

        <button type="submit" name="addachievement" value="addachievement">Добавить достижение</button>
    </form>
</body>
</html>