<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style_addachievements.css">
    <title>Добавление достижения</title>
</head>
<body>
    <header>
    <h1>Добавление достижения</h1>
    <div class="menu-form">
        <a href="/profile">Главная</a>
        <a href ="/achievements">Просмотреть свои достижения</a>
        <a href="/settings">Настройки</a>
    </div>
    </header>
    <main>
        <form action="/add_achievements" method="post" class="add_achievements">
        <label for="nameEvent">Введите название мероприятия:</label>
        <input type="text" id="nameEvent" name="nameEvent" required><br><br>

        <label for="category">Выберите категорию достижения:</label>
        <select id="category" name="category" required>
            <option value="Академическое достижение">Академическое достижение</option>
            <option value="Творческое достижение">Творческое достижение</option>
            <option value="Спортивное достижение">Спортивное достижение</option>
            <option value="Общественное достижение">Общественное достижение</option>
        </select><br><br>

        <label for="result_achievement">Введите результат достижения:</label>
        <input type="text" id="result_achievement" name="result_achievement" required><br><br>

        <label for="document_url">Введите url документа подтверждающее достижение:</label>
        <input type="text" id="document_url" name="document_url" required><br><br>

        <button type="submit" name="addachievement" value="addachievement">Добавить достижение</button>
    </form>
    </main>
</body>
</html>