<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style_addevent.css">
    <title>Добавление мероприятия</title>
</head>
<body>
    <header>
        <h1>Добавление мероприятия</h1>
        <div class="menu-form">
            <a href="/profile">Главная</a>
            <a href ="/events">Просмотреть все мероприятия</a>
            <a href="/settings">Настройки</a>
        </div>
    </header>
    <main>
        <form action="/add_event" method="post" class="add_event">
        <label for="title">Введите название мероприятия:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="description">Введите описание мероприятия:</label>
        <input type="text" id="description" name="description" required><br><br>

        <label for="event_date">Введите дату мероприятия:</label>
        <input type="date" id="event_date" name="event_date" required><br><br>

        <label for="type">Выберите тип мероприятия:</label>
        <select id="type" name="type" required>
            <option value="Учебное мероприятие">Учебное мероприятие</option>
            <option value="Воспитательное мероприятие">Воспитательное мероприятие</option>
            <option value="Спортивное мероприятие">Спортивное мероприятие</option>
            <option value="Карьерное мероприятие">Карьерное мероприятие</option>
            <option value="Культурное мероприятие">Культурное мероприятие</option>
        </select><br><br>

        <button type="submit" name="addevent" value="addevent">Добавить мероприятие</button>
    </form>
    </main>
</body>
</html>
