<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style_profile.css">
    <title>Личный кабинет администратора {{username}}</title>
</head>
<body>
<header>
    <h1>Личный Кабинет</h1>
    <div class="menu-form">
        <a href="/profile">Главная</a>
        <a href ="">Просмотреть все достижения</a>
        <a href="">Просмотреть все мероприятия </a>
        <a href="">Просмотреть всех пользователей </a>
        <a href="/settings">Настройки</a>
    </div>
</header>
<main>
    
</main>
</body>
</html>