<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form action="/register" method="post">
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">Электронная почта:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="roles">Выберите роль:</label>
        <select id="roles" name="roles" required>
            <option value="user">Студент</option>
            <option value="professor">Преподаватель</option>
            <option value="admin">Администратор</option>
        </select><br><br>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>