<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style_settings.css">
    <title>Настройки</title>
    <script src="/script/settings.js" defer></script>
</head>
<body>
<header>
    <h1>Настройки</h1>
    <div class="menu-form">
        <a href="/profile">Главная</a>
        <a href ="/achievements_admin">Просмотреть все достижения</a>
        <a href="/events">Просмотреть все мероприятия </a>
        <a href="/users">Просмотреть всех пользователей </a>
        <a href="/settings">Настройки</a>
    </div>
</header>
    
<main>
    <div class="settings-information">
        <text>Имя пользователя: {{username}}</text>
        <text>Почта пользователя: {{email}}</text>
        <a href="/change_password">Сменить пароль</a>
        <a href="/">Выйти из аккаунта</a>
    </div>

    <script async src="https://oauth.telegram.org/js/telegram-login.js?3" 
        data-client-id="8758842032" 
        data-onauth="postTelegramData(data)" 
        data-request-access="write">
    </script>
    <button class="tg-auth-button">Sign In with Telegram</button>
</main>
    
</body>
</html>
