<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style_settings.css">
    <title>Настройки</title>
</head>
<body>
<h1>Настройки</h1>
    <form action="/person_account_teacher" method="post" class="menu-form">
        <button type="submit" name="option" value="home">Главная</button>
        <button type="submit" name="option" value="view_all_events">Просмотреть все мероприятия</button>
        <button type="submit" name="option" value="add_event">Добавить мероприятие</button>
        <button type="submit" name="option" value="settings">Настройки</button>
    </form>
    <form action="/setingsstudent" method="post" class="settings-information">
        <text>Имя пользователя: {{username}}</text>
        <text>Почта пользователя: {{email}}</text>
        <button type="submit" name="changepassword" value="change">Сменить пароль</button>
        <button type="submit" name="exitaccount" value="exit">Выйти из аккаунта</button>
    </form>
</body>
</html>