<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style_settings.css">
    <title>Настройки</title>
    <script src="static/script/settings.js" defer></script>
</head>
<body>
<header>
    <h1>Личный Кабинет</h1>
    <div class="menu-form">
        <a href="/profile">Главная</a>
        <a href ="">Просмотреть свои достижения</a>
        <a href="/settings">Настройки</a>
    </div>
</header>
<main>
    <form action="/settingsstudent" method="post" class="settings-information">
        <text>Имя пользователя: {{username}}</text>
        <text>Почта пользователя: {{email}}</text>
        <button type="submit" name="changepassword" value="change">Сменить пароль</button>
        <button type="submit" name="exitaccount" value="exit">Выйти из аккаунта</button>
    </form>
    <script async src="https://oauth.telegram.org/js/telegram-login.js?3" data-client-id="8758842032" data-onauth="await postTelegramData(data)" data-request-access="write"></script>
    <button class="tg-auth-button">Sign In with Telegram</button>
</main>
</body>
</html>
